@model string
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model World (fromt the view)
    </div>
</body>
</html>